<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bob.presence_orbit</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/Users/G/blurOS/_run/presence_orbit.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

    <key>StandardOutPath</key>
  <string>/Users/G/blur/TEHE/bob.presence.orbit.ing.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/G/blur/MEEP/bob.presence.orbit.cut.log</string>

</dict>
</plist>
