<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bob.surfboard</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/Users/G/blurOS/_summon/bob_web_thrustheld.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/G/</string>

  <key>RunAtLoad</key>
  <true/>

  <key>StartInterval</key>
  <integer>14400</integer> <!-- every 4 hours -->
  
  <key>StandardOutPath</key>
  <string>/Users/G/blur/TEHE/bob_boardwaxed.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/G/blur/MEEP/bob_boardwax.err</string>
</dict>
</plist>
