<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.blurOS.gobflip_purge</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/G/blurOS/_flipmode/gobflip_purge.sh</string>
    </array>

    <key>StartInterval</key>
    <integer>10800</integer> <!-- every 3 hours (in seconds) -->

    <key>StandardOutPath</key>
    <string>$HOME/.bob/gobflip_purge.out</string>

    <key>StandardErrorPath</key>
    <string>$HOME/.bob/gobflip_purge.err</string>

    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
